.wrapper {
  padding: 0 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.logo {
  text-decoration: none;
  color: #1976d2;
  font-weight: bold;
  font-size: 18px;
}
